.snippet {
  border: 1px solid $border-color;
  border-radius: $border-radius-lg;
  background-color: $gray-100;
  padding: $grid-gutter-width;
  
  &__content-container {
    position: relative;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: $grid-gutter-width;
    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $grid-gutter-width;
      background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      //background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    }
  }
  &__content {
    max-height: 390px;
    overflow-y: auto;
    position: relative;
    padding: $grid-gutter-width/2 0 $grid-gutter-width 0;
    > ul {
      @extend .list-unstyled;
    }
  }
}